<?xml version="1.0" encoding="utf-8" ?>
<!--<RedisConfig WriteServerList="123456@10.138.60.43:6379" ReadServerList="123456@10.138.60.43:6379" MaxWritePoolSize="60"
        MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false">
</RedisConfig>-->
<RedisConfig WriteServerList="vcredit1@10.1.8.33:6379" ReadServerList="vcredit1@10.1.8.33:6379" MaxWritePoolSize="60"
        MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false">
</RedisConfig>