@{
    ViewBag.Title = "担保赔付代偿维护查询";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">查询条件</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label" for="certNo">担保业务编号</label>
                            <div class="input-group col-sm-8">
                                <input type="text" class="form-control" name="GuaranteeLetterCode" id="GuaranteeLetterCode" placeholder="担保业务编号" required>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label" for="State">上报状态</label>
                            <div class="input-group col-sm-8">
                                <select class="form-control" name="State" id="State">
                                    <option value="">全部</option>
                                    <option value="0">等待上报</option>
                                    <option value="1">上报失败</option>
                                    <option value="2">上报成功</option>
                                    <option value="3">等待重新上报</option>
                                    <option value="6">正在上报中...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label" for="UpdateTimeBegin">上报日期</label>
                            <div class="input-group col-sm-8">
                                <div class="input-group date form_datetime" 
                                    data-date="" data-date-format="yyyy-MM-dd HH:ii:ss" 
                                    data-link-field="dtp_input1" >
                                    <input class="form-control" size="16" type="text" 
                                        id="UpdateTimeBegin" name="UpdateTimeBegin" 
                                        value="@(DateTime.Now.ToString("yyyy-MM-dd 00:00:00"))">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                            </div><!-- /.input group -->
                        </div>
                         <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label" for="UpdateTimeBegin">--</label>
                            <div class="input-group col-sm-8">
                                <div class="input-group date form_datetime" 
                                    data-date="" data-date-format="yyyy-MM-dd HH:ii:ss" 
                                    data-link-field="dtp_input1" >
                                    <input class="form-control" size="16" type="text" 
                                        id="UpdateTimeEnd" name="UpdateTimeEnd" 
                                        value="@(DateTime.Now.ToString("yyyy-MM-dd 16:29:59"))">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                            </div><!-- /.input group -->
                        </div>
                        <!--<div class="form-group col-sm-12">
                            <label class="col-sm-2 control-label" for="UpdateTimeBegin">上报日期</label>
                            <div class="input-group col-sm-10">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datetimepicker" id="UpdateTimeBegin" name="UpdateTimeBegin"value="@(DateTime.Now.ToString("yyyy-MM-dd 00:00:00"))">
                                <div class="input-group-addon">
                                    --
                                </div>
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datetimepicker" id="UpdateTimeEnd" name="UpdateTimeEnd" value="@(DateTime.Now.ToString("yyyy-MM-dd 16:29:59"))">
                            </div>
                        </div>-->
                    </div><!-- /.box-body -->
                    <div class="box-footer text-right">
                        <button type="button" class="btn btn-primary" id="btnSubmit">查询</button>
                        <button type="button" class="btn btn-primary" id="btnReset">重置</button>
                    </div>
                </form>
            </div><!-- /.box -->
        </div><!--/.col (left) -->
    </div>   <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="box" style="font-size:10px">
                <div class="box-header with-border">
                    <h3 class="box-title">数据列表</h3>
                    <div class="tools" style="float:right">
                        <button class="btn btn-default btnExportExcel">
                            <i class="fa fa-cloud-download"></i>
                            数据导出
                        </button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered" id="tableData">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>担保业务编号</th>
                            <th>姓名</th>
                            <th>在保余额/剩余本金</th>
                            <th>收款时间</th>
                            <th>是否清贷</th>
                            <th>代偿日期</th>
                            <th>代偿金额</th>
                            <th>上传日期</th>
                            <th>状态</th>
                            <th style="width:20%">描述</th>
                        </tr>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right" id="data-pagination"></ul>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="modal fade" id="div_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">提醒</h4>
                </div>
                <div class="modal-body">
                    <p id="p_msg"></p>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</section><!-- /.content -->

@section scripts{
    <script type="text/javascript">

        $(function ()
        {
            reportList.init();
        });

        var reportList = {
            scope: {
                pageIndex: 1,
                pageSize: 10,
                totalCount: 0,
            },
            init: function ()
            {
                var _this = this;

                $('.datetimepicker').datetimepicker({
                    format: "yyyy-mm-dd hh:ii:ss",
                    language: "zh-CN",
                    todayBtn: true,
                });


                _this.bindEvent();
                _this.queryData();
            },
            bindEvent: function ()
            {
                var _this = this;

                $("#btnSubmit").on('click', function ()
                {
                    $("#p_msg").text("正在提交...");
                    $("#btnSubmit").addClass("disabled")

                    _this.scope.pageIndex = 1;
                    _this.queryData();
                });

                $("#btnReset").on("click", function ()
                {
                    $("#GuaranteeLetterCode").val("")
                    $("#State").val("")
                    $("#UpdateTimeBegin").val("")
                    $("#UpdateTimeEnd").val("")

                    _this.scope.pageIndex = 1;
                    _this.queryData();
                });
                $(".btnExportExcel").on("click", function ()
                {
                    window.open("/AssureMaintain/ExportBalanceTransfer" + "?GuaranteeLetterCode=" + $("#GuaranteeLetterCode").val() +
                                                                "&State=" + $("#State").val() + 
                                                                "&UpdateTimeBegin=" + $("#UpdateTimeBegin").val() +
                                                                "&UpdateTimeEnd=" + $("#UpdateTimeEnd").val());
                });
            },
            queryData: function (pageIndex)
            {
                var _this = this;

                var data = {
                    pageIndex: _this.scope.pageIndex,
                    pageSize: _this.scope.pageSize,
                    GuaranteeLetterCode: $("#GuaranteeLetterCode").val(),
                    State: $("#State").val(),
                    UpdateTimeBegin: $("#UpdateTimeBegin").val(),
                    UpdateTimeEnd: $("#UpdateTimeEnd").val(),
                };
                console.log("data:" + JSON.stringify(data));

                var l = layer.msg('加载中...', { icon: 16, time: 0 });
                $.ajax({
                    url: "/AssureMaintain/Get_DataBalanceTransferList",
                    data: data,
                    type: "post",
                    dataType: "json",
                    success: function (response)
                    {
                        console.log(response);
                        if (!response.IsSuccess)
                        {
                            layer.alert(response.StatusDescription, { icon: 1 });
                            return false;
                        }

                        var $tr = $(`
                                    <tr class ="trDataTemplate">
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            <span title="" class ="text"></span>
                                        </td>
                                        <td>
                                            <span title="" class ="text"></span>
                                        </td>
                                        <td>
                                            <span title="" class ="text"></span>
                                        </td>
                                        <td>
                                            <span title="" class ="text"></span>
                                        </td>
                                        <td>
                                            <span title="" class ="text"></span>
                                        </td>
                                        <td>
                                            <span title="" class ="text"></span>
                                        </td>
                                        <td>
                                            <span title="" class ="text"></span>
                                        </td>
                                        <td>
                                            <span title="" class ="text"></span>
                                        </td>
                                        <td>
                                            <span title="" class ="text"></span>
                                        </td>
                                        <td>
                                            <span title="" class ="text"></span>
                                        </td>
                                    </tr>
                            `);
                        $("#tableData > tbody > .trDataTemplate").remove();
                        response.Result.map(function (item, index)
                        {
                            if (index > 0)
                                $tr = $tr.clone();

                            $tr.find("td:eq(0)").text(++index);
                            $tr.find("td:eq(1)> .text").text(item.GuaranteeLetterCode);
                            $tr.find("td:eq(2)> .text").text(item.Warranteename);
                            $tr.find("td:eq(3)> .text").text(item.InkeepBalance);
                            $tr.find("td:eq(4)> .text").text(item.Balancechangedate);
                            $tr.find("td:eq(5)> .text").text(item.IsEnd);
                            $tr.find("td:eq(6)> .text").text(item.BalanceTransferDate);
                            $tr.find("td:eq(7)> .text").text(item.BalanceTransferSum);
                            $tr.find("td:eq(8)> .text").text(item.State);
                            $tr.find("td:eq(9)> .text").text(item.StateDescription);
                            $tr.find("td:eq(10)> .text").text(item.UpdateTime);

                            $("#tableData > tbody").append($tr);
                        });

                        $("#data-pagination").zPagination({
                            PageIndex: _this.scope.pageIndex,
                            PageCount: Math.ceil(response.TotalCount / _this.scope.pageSize),
                            CallBack: function (selectedPage)
                            {
                                _this.scope.pageIndex = selectedPage;
                                _this.queryData();
                            }
                        });
                    },
                    error: function (xhr, textStatus, err)
                    {
                        console.log(err);
                        layer.alert('出现错误，请稍后重试！', { icon: 2 });
                    },
                    complete: function ()
                    {
                        layer.close(l);
                        $("#btnSubmit").removeClass("disabled")
                    }
                });
            },
        };
    </script>
}