<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <!--淘宝js执行 nodejs服务地址-->
    <add key="TaoBaoNodeServiceURL" value="http://localhost:3001"/>
    <!--淘宝数据抓取时间间隔限制，目前设置为5天-->
    <add key="TbCrawlLimitHour" value="5"/>

    <!--京东密码服务地址-->
    <add key="JDSaveVercodeLocalPath" value="D:\京东数据采集\验证码图片\"/>
    <!--JingDong数据抓取时间间隔限制，目前设置为5天-->
    <add key="JingDongCrawlLimitHour" value="-1"/>
    <add key="AlipayCrawlLimitHour" value="-1"/>
    <add key="SnCrawlLimitHour" value="-1"/>
    <add key="AmazonCrawlLimitHour" value="-1"/>
    <!--JingDong各大银行简称(解析京东绑定的银行卡信息)-->
    <add key="ChinaBanksStr" value="pbc,中国人民银行|ccb,中国建设银行|abc,中国农业银行|icbc,中国工商银行|boc,中国银行|cnbc,中国民生银行|
            bc,中国银行|cmb,招商银行|cib,兴业银行|bob,北京银行|bcm,交通银行|ceb,中国光大银行|cncb,中信银行|gdb,广东发展银行|spdb,上海浦东发展银行|
            sdb,深圳发展银行|cdb ,国家开发银行|hsbc,汇丰银行|hxb,华夏银行|egb,恒丰银行|bcom,交通银行"/>

  <add key="JsPath" value="D:\JS"/>

</appSettings>