<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <!--dd 路劲-->
    <add key="DDPath" value="C:\CommonDll\dd71800x64.32.dll"/>

    <!--要展示的站点-->
    <add key="ShowSites" value="3001"/>
    <add key="IsDialog" value="false"/>

    <!--当前app是否置顶-->
    <add key="DoTopMost" value="false"/>

    <add key="WebAppUrl" value="http://localhost:5401"/>
</appSettings>