<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="NetSpider" connectionString="Data Source=.;Initial Catalog=test;Persist Security Info=True;User ID=sa;Password=sa;"/>

    <!--<add name="EmallDB" connectionString="Data Source=10.138.60.16;Initial Catalog=Emall;Persist Security Info=True;User ID=sa;Password=fyw1234567b;"/>-->

    <add name="EmallDB" connectionString="Data Source=10.138.60.88;Initial Catalog=emall;Persist Security Info=True;User ID=zhangzhibo;Password=zhangzhibo123;"/>

    <add name="CrawlerMongoDB" connectionString="mongodb://sa:sasa@10.138.60.25:27017"/>
    <add name="AnalysisMongoDB" connectionString="mongodb://sa:sasa@10.138.60.25:27017"/>
    <add name="MongoDB" connectionString="mongodb://sa:sasa@10.138.60.25:27017"/>
</connectionStrings>
