<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <!--对重复查询时间控制-->
    <add key="UpLoadLimitedDays" value="30"/>

    <!--担保征信登陆重试次数-->
    <add key="TryLoginCount" value ="0"/>
   
    <!--请求时间限制-->
    <add key="TimeLimit" value="06:00:00,21:50:00"/>

    <!--验证码解析程序tmpe路径-->
    <add key="AnalysisVCodeTempPath" value="E:\02_tfs\ExternalCredit\ExternalCredit\AssureCommitQueryProgram"/>

    <!--担保上报每次数据库取的数据量-->
    <add key="PreReportCount" value="120"/>

    <!--登陆账号-->
    <add key="loginName" value="hzh-wshdb-chch2"/>
    <!--登陆密码-->
    <add key="password" value="test"/>

    <!--配置需要注意：
        1. 如果与其他任务是同一个账号 value 必须一致，否则会造成俩个任务切换登陆 redis 保存的cookies被冲掉造成登陆失效
        2. 如果该任务配置的是新的账号 value 不要与其他任务重复配置的value重复，否则还是统一个账号操作
    -->
    <add key="redisPackage" value="Assure"/>
    <add key="redisCookieToken" value="DB21E553A5834E66AAB4EC32434101DD_hzh-wshdb-chch2"/>

    <!--多ukey 参数配置 多个ukey配置的jobIndex千万不能重复、否则有可能造成数据重复提交-->
    <add key="jobIndex" value="0"/>
    <add key="jobCount" value="1"/>

    <!--是否正式提交（正式提交只能用于生产环境，其他环境必须配置false）-->
    <add key="isRealCommit" value="false"/>
</appSettings>