<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <applicationSettings>
        <Vcredit.NetSpider.PluginManager.Properties.Settings>
            <setting name="Vcredit_NetSpider_PluginManager_VercodeWebService_VercodeService"
                serializeAs="String">
                <value>http://10.138.60.43:7007/vercodeService.asmx</value>
            </setting>
        </Vcredit.NetSpider.PluginManager.Properties.Settings>
    </applicationSettings>
</configuration>