<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="certNos" value="52210119731020121X"/>
    <add key="htmlPath" value="E:\other\testhtml\"/>

    <add key="MappingTablePath"
         value="E:\02_tfs\ExternalCredit\ExternalCredit\AssureAnalysisProgram\Template\征信报告与数据库对应表格.xlsx"/>
</appSettings>