
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>担保征信查询</title>

    <link href="~/admin-lte/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/admin-lte/css/skins/_all-skins.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/admin-lte/js/app.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div>
        <form name="form1">
            <div>
                证件类型：
                <select name="certType" id="certType">
                    <option value="0">身份证</option>
                    <option value="1">户口本</option>
                    <option value="2">护照</option>
                    <option value="3">军官证</option>
                    <option value="4">士兵证</option>
                    <option value="5">港澳居民来往内地通行证</option>
                    <option value="6">台湾同胞来往内地通行证</option>
                    <option value="7">临时身份证</option>
                    <option value="8">外国人居留证</option>
                    <option value="9">警官证</option>
                    <option value="A">香港身份证</option>
                    <option value="B">澳门身份证</option>
                    <option value="C">台湾身份证</option>
                    <option value="X">其他证件</option>
                </select>
            </div>
            <div>
                证件号码：<input type="text" name="certNo" id="certNo" />
            </div>
            <div>
                姓名：<input type="text" name="name" id="name" />
            </div>
            <div>
                查询原因：<select name="queryReason" id="queryReason">
                    <option value="01">贷后管理</option>
                    <option value="02">贷款审批</option>
                    <option value="03">担保资格查询</option>
                </select>
            </div>
            <div>
                <input type="button" value="提交" id="btnSubmit" />
            </div>
        </form>
    </div>
    <div id="div_msg"></div>
</body>
</html>

<script type="text/javascript">
    $(function ()
    {
        assure.init();
    });

    var assure = {
        init: function ()
        {
            var _this = this;

            _this.bindEvent();
        },
        bindEvent: function ()
        {
            $("#btnSubmit").on('click', function ()
            {
                $("#div_msg").text("正在提交...");
                $("#btnSubmit").addClass("disabled")

                var certType = $("#certType").val();
                var certNo = $("#certNo").val();
                var name = $("#name").val();
                var queryReason = $("#queryReason").val();
                
                var data = {
                    certType: certType,
                    certNo: certNo,
                    name: name,
                    queryReason: queryReason,
                    BusType:"daidaikan"
                };
                var url = "/api/Assure/AddQueryInfo";
                $.ajax({
                    url: url,
                    data: data,
                    type: "post",
                    dataType: "json",
                    success: function (data)
                    {
                        console.log(data);

                        if (!data.isSuccess)
                        {
                           
                            var error = "";
                            if (data.result["param.CertNo"])
                            {
                                for (var i = 0; i < data.result["param.CertNo"].errors.length; i++)
                                {
                                    error += data.result["param.CertNo"].errors[i].errorMessage + "; ";
                                }
                            }
                            if (data.result["param.Name"])
                            {
                                for (var i = 0; i < data.result["param.Name"].errors.length; i++)
                                {
                                    error += data.result["param.Name"].errors[i].errorMessage + "; ";
                                }
                            }
                            //$("#div_msg").text(JSON.stringify(data.result));
                            $("#div_msg").text(error + data.statusDescription);
                        }
                        else if (data.isSuccess)
                        {
                            $("#div_msg").text(JSON.stringify(data.statusDescription));
                        }
                        else
                        {
                            $("#div_msg").text(JSON.stringify(data));
                        }

                        $("#btnSubmit").removeClass("disabled")
                    },
                    error: function (xhr, textStatus, err)
                    {
                        console.log(err);
                    },
                    complete: function ()
                    { }
                });
            });
        }
    };
</script>
