<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.0"/>
  </configSections>
  <log4net>
    <!-- 日志文件部分log输出格式的设定 -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Log_"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="------------------------------------------------------------
"/>
        <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <!--<root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>-->
    <logger name="logerror">
      <level value="Info"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <!--<appender-ref ref="LogSmtpAppender" />-->
    </logger>
    <logger name="loginfo"> 
      <level value="Info"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>

  
  </log4net>
  <connectionStrings>
    <!--<add name="ExternalTradeDB" connectionString="Server=10.1.6.131;Database=ExtCredit;uid=nsreader;pwd=ns123!@#;" providerName="System.Data.SqlClient"/>-->
  <add name="ExternalTradeDB" connectionString="Server=10.138.60.117;Database=ExtCredit;uid=sa;pwd=1234567a;" providerName="System.Data.SqlClient"/>
    <add name="RCLogDB" connectionString="Data Source=10.10.24.15;Initial Catalog=RC_Log;User ID=sa;Password=fyw1234567b;pooling=true;TimeOut=600;" providerName="System.Data.SqlClient" />                           
    <!--<add name="ExternalTradeDB" connectionString="Server=10.1.6.131;Database=ExtCredit;uid=nsowner;pwd=NetSpider123!@#;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="ConectionStr" value="Data Source=10.138.60.17;Initial Catalog=NetSpider;User ID=sa;Password=1234567a"/>
    <add key="FtpAddress" value="10.138.60.17"/>
    <add key="FtpUserName" value="kkd"/>
    <add key="FtpPassword" value="123"/>
    <!--上传到ftp的文件路径-->
    <add key="UploadFTPPath" value="PBOC/003/Batch/Request/"/>
    <!--映射表存放相对路径-->
    <add key="MappingTablePath" value="D:\征信报告文档\zx\MappingTable\征信报告与数据库对应表格.xlsx"/>
    <!--请求文件存放的路径-->
    <add key="RequestFileSavePath" value="D:\ExtradeDataDirectory\Request\"/>
    <!--文件上传完后，移动到其他位置-->
    <add key="RequestedFileSavePath" value="D:\ftp\newFtpDemain\新建文件夹\TestProgramLayer\Requested\"/>
    <!--一天处理的请求文件的时间点（1-24 时）：在此时间之前，放在今天的请求，在此时间之后放在明天的请求。-->
    <add key="TodayDealingPoint" value="20"/>
    <add key="UpLoadLimitedDays" value="20"/>

    <!--xml存放的路径-->
    <add key="jinCityCreditXmlPath" value="D:\征信报告文档\晋城银行征信报告的示例数据.xml"/>
    <!--设置上传的用户的信息状态（参考RequestState枚举）,如果为空就是默认为0。多个用逗号隔开-->
    <add key="RequestState" value=""/>
    <!--一设置上传指定日期文件夹名的征信用户信息。指定多个文件夹名用逗号隔开-->
    <add key="DirectoryNames" value=""/>


    <!--xml存放的路径-->
    <add key="jinCityCreditXmlPath" value="D:\征信报告文档\晋城银行征信报告的示例数据.xml"/>
    <!--设置上传的用户的信息状态（参考RequestState枚举）,如果为空就是默认为0。多个用逗号隔开-->
    <add key="RequestState" value=""/>
    <!--一设置上传指定日期文件夹名的征信用户信息。指定多个文件夹名用逗号隔开-->
    <add key="DirectoryNames" value=""/>
    <!--合同机构号-->
    <add key="OrgCode" value="123456"/>

    <!--上海小贷webservice-->
    <add key="ShangHaiLoanWebUrl" value="http://120.86.187.66:80/ucrc/perReport/apply"/>
    <!--上海小贷用户名-->
    <add key="UserCode" value="shdb-dnrz-001"/>
    <!--上海小贷密码-->
    <add key="UserCodePw" value="AF45E38DCC43E3030E628AC2830B6120"/>
    <!--上海小贷发送方-->
    <add key="Sender" value="weixin"/>
    <!--上海小贷发送系统号-->
    <add key="SenderID" value="10001"/>
    <!--上海小贷报文接收人-->
    <add key="Receiver" value="sfsdfsf"/>
    <!--上海小贷接收系统号-->
    <add key="ReceiverID" value="12121221"/>

    <!--上海小贷返回信息保存路径-->
    <add key="ShanghaiResponeSavePath" value="D:\上海小贷\ExtradeDataDirectory\Return\"/>
    <!--上海小贷接收系统号-->
    <add key="ProvicePlanPublicKeyPath" value="D:\征信报告文档\上海小贷\ucrcTest\certs\ucrcTest_pk.cer"/>
  
     <!--导入kafka配置-->
    <add key="SendKafkaService" value="http://10.1.8.112:2010"/>
    <add key="SendKafkaTopic" value="ext_create_test"/>


    <!--外贸服务。-->
    <add key="WMServicePath" value="http://10.1.12.194:8002/ExtTrade/Add/CreditInfo"/>
    <!--担保服务-->
    <add key="DBServicePath" value="http://10.1.12.70:8000/api/Assure/AddQueryInfo/"/>
    <!--查询数据存放路径-->
    <add key="CreditExcelPath" value="D:\CreditExcel\"/>
    <!--业务类型-->
    <add key="BusType" value="VCS"/>
    <!--业务类型-->
    <add key="CertReviseDays" value="0"/>
    
    <add key="AppID" value="1100101"/>
    <add key="Apollo.DEV.Meta" value="http://10.138.60.78:8080"/>
             <!--测试-->
    <add key="CallBackurl" value="http://10.138.60.225:8088/RMCloud/API/datacollect/CallBackGateway/V1?accesstoken="/>
    <add key="GetTokenUrl" value="http://10.138.60.225:8088/RMCloud/OAuth/token?appId=6DB2CE48&amp;appSecret=4fa99baf96408209eb7bbd698a2b3931"/>
        <!--生产-->
    <!--<add key="CallBackurl" value="http://10.1.12.81/RMCloud/API/datacollect/CallBackGateway/V1?accesstoken="/>
    <add key="GetTokenUrl" value="http://10.1.12.81/RMCloud/OAuth/token?appId=37D77501&amp;appSecret=1ce7d41d795184b2579727f656b701f8"/>-->
  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
