@{
    ViewBag.Title = "征信查询次数修改";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">编辑</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group col-sm-6">
                            <input type="hidden" value="@ViewData["Id"]" id="requestId" />
                            <label class="col-sm-4 control-label" for="LimitCount">允许查询数量</label>
                            <div class="input-group col-sm-8">
                                <input type="text" class="form-control" name="LimitCount" id="LimitCount" placeholder="允许查询数量" required onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="9">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label" for="SourceType">数据来源</label>
                            <div class="input-group col-sm-8">
                                <select class="form-control" name="SourceType" id="SourceType">
                                    <option value="10">外贸征信</option>
                                    <option value="11">担保征信</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label" for="BusType">业务类型</label>
                            <div class="input-group col-sm-8">
                                @*<input type="text" class="form-control" name="BusType" id="BusType" placeholder="业务代码">*@
                                <select class="form-control" name="BusType" id="BusType">
                                </select>
                            </div>
                        </div>
                        @*<div class="form-group col-sm-6">
                                <label class="col-sm-4 control-label" for="BusType">业务描述</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" class="form-control" name="BusDesc" id="BusDesc" placeholder="业务描述">
                                </div>
                           </div>*@
                        <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label" for="IpAddr">IP地址</label>
                            <div class="input-group col-sm-8">
                                <input type="text" class="form-control" name="IpAddr" id="IpAddr" placeholder="IP地址">
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer text-right">
                        <button type="button" class="btn btn-primary" id="btnSubmit">修改</button>
                        <button type="button" class="btn btn-primary" id="btnReset">重置</button>
                    </div>
                </form>
            </div><!-- /.box -->
        </div><!--/.col (left) -->
    </div>   <!-- /.row -->

</section><!-- /.content -->
@section scripts{
    <script type="text/javascript">

        $(function () {
            reportList.init();
        });

        var reportList = {
            init: function () {
                var _this = this;

                _this.bindEvent();
                _this.queryData();
            },
            bindEvent: function () {
                var _this = this;

                $("#btnSubmit").on('click', function () {
                    $("#p_msg").text("正在提交...");
                    $("#btnSubmit").addClass("disabled")

                    _this.modifyData();
                });

                $("#btnReset").on("click", function () {
                    $("#LimitCount").val("")
                    $("#BusType").val("")
                    $("#BusDesc").val("")
                    $("#SourceType").val("")
                    $("#IpAddr").val("")
                });

                $.ajax({
                    url: '/ApplyLimitMaintain/Get_BusType',
                    success: function (result) {
                        $("#BusType").append(result);
                    }
                })
            },
            queryData: function (pageIndex) {
                var _this = this;

                var id = $("#requestId").val();
                var l = layer.msg('加载中...', { icon: 16, time: 0 });
                $.ajax({
                    url: "/ApplyLimitMaintain/Get_ApplyLimit?Id=" + id,
                    type: "get",
                    //dataType: "json",
                    success: function (response) {
                        console.log(response);
                        if (!response.IsSuccess) {
                            layer.alert(response.StatusDescription, { icon: 1 });
                            return false;
                        }
                        var item = response.Result;
                        $("#LimitCount").val(item.LimitCount)
                        $("#BusType").val(item.BusType)
                        //$("#BusDesc").val(item.BusDesc)
                        $("#SourceType").val(item.SourceType)
                        $("#IpAddr").val(item.IpAddr)
                    },
                    error: function (xhr, textStatus, err) {
                        console.log(err);
                        layer.alert('出现错误，请稍后重试！', { icon: 2 });
                    },
                    complete: function () {
                        layer.close(l);
                        $("#btnSubmit").removeClass("disabled")
                    }
                });
            },

            modifyData: function (pageIndex) {
                var _this = this;

                var data = {
                    Id: $("#requestId").val(),
                    LimitCount: $("#LimitCount").val(),
                    BusType: $("#BusType").val(),
                    BusDesc: $("#BusType option:checked").text(),
                    SourceType: $("#SourceType").val(),
                    IpAddr: $("#IpAddr").val()
                };
                console.log("data:" + JSON.stringify(data));

                var l = layer.msg('加载中...', { icon: 16, time: 0 });
                $.ajax({
                    url: "/ApplyLimitMaintain/Modify_ApplyLimit",
                    data: data,
                    type: "post",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        if (!response.IsSuccess) {
                            layer.alert(response.StatusDescription, { icon: 1 });
                            return false;
                        }
                        window.location.href = "/ApplyLimitMaintain/ApplyLimitList";
                    },
                    error: function (xhr, textStatus, err) {
                        console.log(err);
                        layer.alert('出现错误，请稍后重试！', { icon: 2 });
                    },
                    complete: function () {
                        layer.close(l);
                        $("#btnSubmit").removeClass("disabled")
                    }
                });
            },
        };
    </script>
}