<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.0"/>
  </configSections>
  <log4net>
    <!-- 日志文件部分log输出格式的设定 -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Log_"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="------------------------------------------------------------
"/>
        <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <!--<root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>-->
    <logger name="logerror">
      <level value="Info"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <!--<appender-ref ref="LogSmtpAppender" />-->
    </logger>
    <logger name="loginfo">
      <level value="Info"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>


  </log4net>
  <connectionStrings>
    <add name="ExternalTradeDB" connectionString="Server=10.138.60.17;Database=ExtCredit;uid=sa;pwd=1234567a;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--请求文件存放的路径-->
    <add key="RequestFileSavePath" value="D:\ShangHaiDirectory\Request\"/>
    <!--文件上传完后，移动到其他位置-->
    <add key="RequestedFileSavePath" value="D:\ShangHaiDirectory\Requested\"/>
    
    <!--合同机构号-->
    <add key="OrgCode" value="N10155840H0008"/>
    <!--上海小贷webservice-->
    <add key="ShangHaiLoanWebUrl" value="http://120.86.187.66:80/ucrc/perReport/apply"/>
    <!--上海小贷用户名-->
    <add key="UserCode" value="jk-01"/>
    <!--上海小贷密码-->
    <add key="UserCodePw" value="8C4EC28B8025A782C1C28608CE85E8AA"/>
    <!--上海小贷发送方-->
    <add key="Sender" value="weixin"/>
    <add key="SenderID" value="10001"/>
    <!--上海小贷报文接收人-->
    <add key="Receiver" value="sfsdfsf"/>
    <!--上海小贷接收系统号-->
    <add key="ReceiverID" value="12121221"/>
    <!--上海小贷返回信息保存路径-->
    <add key="HtmlSavePath" value="D:\ShangHaiDirectory\SaveHtml\"/>
    <!--上海小贷返回信息保存路径-->
    <add key="ShanghaiResponeSavePath" value="D:\ShangHaiDirectory\SaveXML\"/>
    <!--上海小贷接收系统号-->
    <add key="ProvicePlanPublicKeyPath" value="D:\ShangHaiDirectory\certs\ucrcTest_pk.cer"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>