<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.0" />
        <section name="RedisConfig" type="Vcredit.NetSpider.Cache.RedisConfigInfo, Vcredit.NetSpider.Cache" />
    </configSections>

    <connectionStrings>
        <add name="ExternalTradeDB" connectionString="Server=10.138.60.17;Database=ExtCredit;uid=sa;pwd=1234567a;" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <appSettings>
        <!--对重复查询时间控制-->
        <add key="UpLoadLimitedDays" value="30"/>

        <!--担保征信登陆重试次数-->
        <add key="TryLoginCount" value ="5"/>

        <!--DownloadReportFilePath-->
        <add key="DownloadReportFilePath" value ="DownloadReport"/>

        <!--验证码解析程序tmpe路径-->
        <add key="AnalysisVCodeTempPath" value="E:\02_tfs\ExternalCredit\ExternalCredit\Vcredit.ExternalCredit.AssureProgram"/>

        <!--手写签名接口-->
        <add key="ComplianceServiceUrl" value="http://10.138.60.115:8099"/>

        <!--请求时间限制-->
        <add key="TimeLimit" value="09:00:00,21:59:59"/>

        <!--担保上报每次数据库取的数据量-->
        <add key="PreReportCount" value="45"/>

        <!--多ukey 参数配置-->
        <add key="jobIndex" value="1"/>
        <add key="jobCount" value="2"/>

        <!--提交到解析时间区间（小时）-->
        <add key="AnalysisDiffHours" value="2.5"/>
        <add key="ReportTimeBegin" value="2017-02-01 06:00:00"/>
    </appSettings>

    <RedisConfig WriteServerList="123456@10.138.60.43:6379" ReadServerList="123456@10.138.60.43:6379" MaxWritePoolSize="60"
        MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false">
    </RedisConfig>

    <log4net>
        <!-- 日志文件部分log输出格式的设定 -->
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Logs/Log_"/>
            <appendToFile value="true"/>
            <rollingStyle value="Date"/>
            <datePattern value="yyyyMMdd'.txt'"/>
            <staticLogFileName value="false"/>
            <layout type="log4net.Layout.PatternLayout">
                <header value="------------------------------------------------------------&#xA;"/>
                <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
            </layout>
        </appender>
        <!--控制台-->
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
            </layout>
        </appender>
        <logger name="logerror">
            <level value="error"/>
            <appender-ref ref="RollingLogFileAppender"/>
            <appender-ref ref="ConsoleAppender"/>
        </logger>
        <logger name="loginfo">
            <level value="Info"/>
            <appender-ref ref="RollingLogFileAppender"/>
            <appender-ref ref="ConsoleAppender"/>
        </logger>
    </log4net>


</configuration>