@{
    ViewBag.Title = "已导入数据";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">查询条件</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label" for="certNo">文件名称</label>
                            <div class="input-group col-sm-8">
                                <input type="text" class="form-control" name="FileName" id="FileName" placeholder="文件名称" required>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label" for="State">上报状态</label>
                            <div class="input-group col-sm-8">
                                <select class="form-control" name="State" id="State">
                                    <option value="">全部</option>
                                    <option value="-1">解析失败</option>
                                    <option value="0">保存成功</option>
                                    <option value="1">解析成功</option>
                                    <option value="2">确认无误</option>
                                    <option value="3">取消维护</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-2 control-label" for="CreateTimeBegin">导入日期</label>
                            <div class="input-group col-sm-10">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control timepicker" id="CreateTimeBegin" name="CreateTimeBegin">
                                <div class="input-group-addon">
                                    --
                                </div>
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control timepicker" id="CreateTimeEnd" name="CreateTimeEnd">
                            </div><!-- /.input group -->
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer text-right">
                        <button type="button" class="btn btn-primary" id="btnSubmit">查询</button>
                        <button type="button" class="btn btn-primary" id="btnReset">重置</button>

                    </div>
                </form>
            </div><!-- /.box -->
        </div><!--/.col (left) -->
    </div>   <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">已上传文件列表</h3>
                    <div class="tools text-right">
                        @*<button class="btn btn-default btnExportExcel">
                                <i class="fa fa-cloud-download"></i>
                                数据导出
                            </button>*@
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered" id="tableData">
                        <tr>
                            <th style="width: 5%">#</th>
                            <th>文件名称</th>
                            <th>下载</th>
                            <th>上传日期</th>
                            <th>状态</th>
                            <th>描述</th>
                            <th>数据类型</th>
                            <th>操作</th>
                        </tr>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right" id="data-pagination"></ul>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="modal fade" id="div_viewFileData">
        <div class="modal-dialog" style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">查看数据</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="tableFileData">
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <ul class="pagination pagination-sm no-margin pull-right" id="fileData-pagination"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnConfirm">
                        <i class="fa fa-plus"></i>
                        确认数据无误
                    </button>
                    <button type="button" class="btn btn-primary" id="btnDelete">
                        <i class="fa fa-remove"></i>
                        数据有误删除
                    </button>
                </div>
            </div>
        </div>
    </div>

</section><!-- /.content -->

@section scripts{
    <script type="text/javascript">

        $(function ()
        {
            importedFiles.init();
        });

        var importedFiles = {
            scope: {
                queryFileParam: {
                    pageIndex: 1,
                    pageSize: 10,
                },
                queryFileDataParam: {
                    pageIndex: 1,
                    pageSize: 10,
                },

                currentFileId: 0,
                currentFileDataType: -1,
            },
            init: function ()
            {
                var _this = this;

                _this.bindEvent();
                _this.queryData();
            },
            bindEvent: function ()
            {
                var _this = this;

                $("#btnSubmit").on('click', function ()
                {
                    $("#p_msg").text("正在提交...");
                    $("#btnSubmit").addClass("disabled")

                    _this.scope.queryFileParam.pageIndex = 1;
                    _this.queryData();
                });

                $("#btnReset").on("click", function ()
                {
                    $("#FileName").val("")
                    $("#State").val("")
                    $("#CreateTimeBegin").val("")
                    $("#CreateTimeEnd").val("")

                    _this.scope.queryFileParam.pageIndex = 1;
                    _this.queryData();
                });

                $("#btnConfirm").on('click', function ()
                {
                    _this.confirmFileData();
                })

                $("#btnDelete").on('click', function ()
                {
                    _this.deleteFileData()
                })
            },
            queryData: function (pageIndex)
            {
                var _this = this;
                var data = {
                    pageIndex: _this.scope.queryFileParam.pageIndex,
                    pageSize: _this.scope.queryFileParam.pageSize,
                    FileName: $("#FileName").val(),
                    State: $("#State").val(),
                    CreateTimeBegin: $("#CreateTimeBegin").val(),
                    CreateTimeEnd: $("#CreateTimeEnd").val(),
                };
                var l = layer.msg('加载中...', { icon: 16, time: 0 });
                $.ajax({
                    url: "/File/Get_FileList",
                    data: data,
                    type: "post",
                    dataType: "json",
                    success: function (response)
                    {
                        //console.log(response);
                        if (!response.IsSuccess)
                        {
                            layer.alert(response.StatusDescription, { icon: 1 });
                            return false;
                        }

                        var template = `
                                 <tr class ="trDataTemplate">
                                    <td></td>
                                    <td>
                                        <span class ="text"></span>
                                    </td>
                                    <td>
                                        <span class ="text downloadFile" >
                                            <i class ="fa fa-fw fa-download"></i>
                                        </span>
                                    </td>
                                    <td>
                                        <span class ="text"></span>
                                    </td>
                                    <td>
                                        <span class ="text"></span>
                                    </td>
                                    <td>
                                        <span class ="text"></span>
                                    </td>
                                    <td>
                                        <span class="dataType"></span>
                                    </td>
                                     <td>
                                        <span class ="btn btn-info btn-sm viewFileData" >
                                            <i class ="fa fa-fw fa-list"></i>
                                            查看数据
                                        </span>
                                    </td>
                                </tr>
                            `
                        var $tr = $(template);
                        $("#tableData > tbody > .trDataTemplate").remove();
                        response.Result.map(function (item, index)
                        {
                            $tr = $tr.clone();

                            $tr.find("td:eq(0)").text(++index);

                            $tr.attr("data-id", item.Id);
                            $tr.attr("data-datatype", item.DataType);
                            $tr.find("td:eq(1)> .text").text(item.FileName);
                            $tr.find("td:eq(3)> .text").text(item.Createtime);
                            var stateStr = item.State;
                            switch (item.State)
                            {
                                case -1:
                                    stateStr = "<label class='btn btn-danger btn-sm'> 解析失败</label>";
                                    break;
                                case 0:
                                    stateStr = "<label class='btn btn-default btn-sm'> 保存成功</label>";
                                    break;
                                case 1:
                                    stateStr = "<label class='btn btn-success btn-sm'> 解析成功</label>";
                                    break;
                                case 2:
                                    stateStr = "<label class='btn btn-info btn-sm'> 确认无误</label>";
                                    break;
                                case 3:
                                    stateStr = "<label class='btn btn-warning btn-sm'> 取消维护</label>";
                                    break;
                                default:
                                    break;
                            }
                            $tr.find("td:eq(4)> .text").html(stateStr);

                            var dataTypeStr = item.DataType;
                            switch (item.DataType)
                            {
                                case 0:
                                    dataTypeStr = "<label class='btn btn-primary btn-sm'><i class='fa fa-fw fa-area-chart'></i>清贷非清贷</label>";
                                    break;
                                case 1:
                                    dataTypeStr = "<label class='btn btn-default btn-sm'><i class='fa fa-fw fa-bar-chart'></i>  代偿数据</label>";
                                    break;
                                default:
                                    break;
                            }
                            $tr.find("td > .dataType").html(dataTypeStr);

                            $tr.find("td:eq(5)> .text").text(item.StateDescription);

                            //下载事件
                            $tr.find(".downloadFile").on('click', function ()
                            {
                                _this.scope.currentFileId = $(this).closest('tr').attr("data-id");
                                _this.downloadFile(_this.scope.currentFileId);
                            });

                            // 查看数据
                            if (item.State <= 0)
                            {
                                $tr.find(".viewFileData").attr("disabled", "disabled")
                            }
                            else
                            {
                                $tr.find(".viewFileData").on('click', function ()
                                {
                                    _this.scope.queryFileDataParam.pageIndex = 1;
                                    _this.scope.queryFileDataParam.pageSize = 10;

                                    _this.scope.currentFileId = $(this).closest('tr').attr("data-id");
                                    _this.scope.currentFileDataType = $(this).closest('tr').attr("data-datatype");
                                    _this.viewFileData(_this.scope.currentFileId);
                                });
                            }

                            $("#tableData > tbody").append($tr);
                        });
                        $("#data-pagination").zPagination({
                            PageIndex: _this.scope.queryFileParam.pageIndex,
                            PageCount: Math.ceil(response.TotalCount / _this.scope.queryFileParam.pageSize),
                            CallBack: function (selectedPage)
                            {
                                _this.scope.queryFileParam.pageIndex = selectedPage;
                                _this.queryData();
                            }
                        });
                    },
                    error: function (xhr, textStatus, err)
                    {
                        console.log(err);
                        layer.alert('出现错误，请稍后重试！', { icon: 2 });
                    },
                    complete: function ()
                    {
                        layer.close(l);
                        $("#btnSubmit").removeClass("disabled")
                    }
                });
            },
            downloadFile: function ()
            {
                var _this = this;
                window.open("/File/DownloadFile?id=" + _this.scope.currentFileId);
            },
            viewFileData: function ()
            {
                var _this = this;
                _this.toggleViewFileData();
                _this.queryFileData();
            },
            toggleViewFileData: function ()
            {
                $("#div_viewFileData").modal("toggle");
            },
            queryFileData: function ()
            {
                var _this = this;

                var data = {
                    pageIndex: _this.scope.queryFileDataParam.pageIndex,
                    pageSize: _this.scope.queryFileDataParam.pageSize,
                    FileId: _this.scope.currentFileId,
                };
                var l = layer.msg('加载中...', { icon: 16, time: 0 });
                $.ajax({
                    url: "/File/Get_FileDataList",
                    data: data,
                    type: "post",
                    dataType: "json",
                    success: function (response)
                    {
                        if (!response.IsSuccess)
                        {
                            layer.alert(response.StatusDescription, { icon: 1 });
                            return false;
                        }
                        $("#tableFileData > tbody > tr").remove();
                        if (_this.scope.currentFileDataType == 0)
                        {
                            _this.drawDataType0(response);
                        }
                        else if (_this.scope.currentFileDataType == 1)
                        {
                            _this.drawDataType1(response);
                        }
                        _this.drawFileDataPagination(response);
                    },
                    error: function (xhr, textStatus, err)
                    {
                        console.log(err);
                        layer.alert('出现错误，请稍后重试！', { icon: 2 });
                    },
                    complete: function ()
                    {
                        layer.close(l);
                    }
                });
            },
            drawDataType0: function (response)
            {
                var _this = this;
                var trheader = `
                                <tr>
                                    <th style="width: 5%">#</th>
                                    <th>业务号</th>
                                    <th>姓名</th>
                                    <th>剩余本金</th>
                                    <th>收款时间</th>
                                    <th>是否清贷</th>
                                    <th>状态</th>
                                    <th>描述</th>
                                </tr>
                            `;
                $("#tableFileData > tbody").append($(trheader));

                var template = `
                                 <tr class ="trFileDataTemplate">
                                    <td></td>
                                    <td>
                                        <span class ="GuaranteeLetterCode"></span>
                                    </td>
                                    <td>
                                        <span class ="Warranteename"></span>
                                    </td>
                                    <td>
                                        <span class ="InkeepBalance"></span>
                                    </td>
                                    <td>
                                        <span class ="Balancechangedate"></span>
                                    </td>
                                    <td>
                                        <span class ="IsEnd"></span>
                                    </td>
                                    <td>
                                        <span class ="State"></span>
                                    </td>
                                    <td>
                                        <span class ="StateDescription"></span>
                                    </td>
                                </tr>
                            `
                var $tr = $(template);
                response.Result.map(function (item, index)
                {
                    if (index > 0)
                        $tr = $tr.clone();

                    $tr.find("td:eq(0)").text(++index);

                    $tr.find("td > .GuaranteeLetterCode").text(item.GuaranteeLetterCode);
                    $tr.find("td > .Warranteename").text(item.Warranteename);
                    $tr.find("td > .InkeepBalance").text(item.InkeepBalance);
                    $tr.find("td > .Balancechangedate").text(item.Balancechangedate);
                    
                    var isEndStr = item.IsEnd;
                    if (item.IsEnd)
                        isEndStr = "<label class='btn btn-success btn-sm'> " + item.IsEnd + "</label>";
                    else
                        isEndStr = "<label class='btn btn-default btn-sm'> " + item.IsEnd + "</label>";
                    $tr.find("td > .IsEnd").html(isEndStr);

                    // 状态显示
                    var stateStr = item.State;
                    switch (item.State)
                    {
                        case -1:
                            stateStr = "<label class='btn btn-warning btn-sm'> 数据待确认</label>";
                            break;
                        case 0:
                            stateStr = "<label class='btn btn-default btn-sm'> 数据待上报</label>";
                            break;
                    }
                    $tr.find("td > .State").html(stateStr);

                    $tr.find("td > .StateDescription").text(item.StateDescription);

                    $("#tableFileData > tbody").append($tr);
                });
            },
            drawDataType1: function (response)
            {
                var _this = this;
                var trheader = `
                                <tr>
                                    <th style="width: 5%">#</th>
                                    <th>业务号</th>
                                    <th>姓名</th>
                                    <th>剩余本金</th>
                                    <th>收款时间</th>
                                    <th>是否清贷</th>
                                    <th>转担保日期</th>
                                    <th>转担保汇总金额</th>
                                    <th>状态</th>
                                    <th>描述</th>
                                </tr>
                            `;
                $("#tableFileData > tbody").append($(trheader));

                var template = `
                                 <tr class ="trFileDataTemplate">
                                    <td></td>
                                    <td>
                                        <span class ="GuaranteeLetterCode"></span>
                                    </td>
                                    <td>
                                        <span class ="Warranteename"></span>
                                    </td>
                                    <td>
                                        <span class ="InkeepBalance"></span>
                                    </td>
                                    <td>
                                        <span class ="Balancechangedate"></span>
                                    </td>
                                    <td>
                                        <span class ="IsEnd"></span>
                                    </td>
                                    <td>
                                        <span class ="BalanceTransferDate"></span>
                                    </td>
                                    <td>
                                        <span class ="BalanceTransferSum"></span>
                                    </td>
                                    <td>
                                        <span class ="State"></span>
                                    </td>
                                    <td>
                                        <span class ="StateDescription"></span>
                                    </td>
                                </tr>
                            `
                var $tr = $(template);
                response.Result.map(function (item, index)
                {
                    if (index > 0)
                        $tr = $tr.clone();

                    $tr.find("td:eq(0)").text(++index);

                    $tr.find("td > .GuaranteeLetterCode").text(item.GuaranteeLetterCode);
                    $tr.find("td > .Warranteename").text(item.Warranteename);
                    $tr.find("td > .InkeepBalance").text(item.InkeepBalance);
                    $tr.find("td > .Balancechangedate").text(item.Balancechangedate);

                    var isEndStr = item.IsEnd;
                    if (item.IsEnd)
                        isEndStr = "<label class='btn btn-success btn-sm'> " + item.IsEnd + "</label>";
                    else
                        isEndStr = "<label class='btn btn-default btn-sm'> " + item.IsEnd + "</label>";
                    $tr.find("td > .IsEnd").html(isEndStr);

                    $tr.find("td > .BalanceTransferDate").text(item.BalanceTransferDate);
                    $tr.find("td > .BalanceTransferSum").text(item.BalanceTransferSum);

                    // 状态显示
                    var stateStr = item.State;
                    switch (item.State)
                    {
                        case -1:
                            stateStr = "<label class='btn btn-warning btn-sm'> 数据待确认</label>";
                            break;
                        case 0:
                            stateStr = "<label class='btn btn-default btn-sm'> 数据待上报</label>";
                            break;
                    }
                    $tr.find("td > .State").html(stateStr);

                    $tr.find("td > .StateDescription").text(item.StateDescription);

                    $("#tableFileData > tbody").append($tr);
                });

            },
            drawFileDataPagination: function (response)
            {
                var _this = this;
                $("#fileData-pagination").zPagination({
                    PageIndex: _this.scope.queryFileDataParam.pageIndex,
                    PageCount: Math.ceil(response.TotalCount / _this.scope.queryFileDataParam.pageSize),
                    CallBack: function (selectedPage)
                    {
                        _this.scope.queryFileDataParam.pageIndex = selectedPage;
                        _this.queryFileData();
                    }
                });
            },
            confirmFileData: function ()
            {
                var _this = this;

                layer.confirm('确认当前数据无误，提交吗？', {
                    btn: ['重要', '取消']
                }, function ()
                {
                    var l = layer.msg('处理中...', { icon: 16, time: 0 });
                    $.ajax({
                        url: "/File/ConfirmFileData",
                        data: { id: _this.scope.currentFileId },
                        type: "post",
                        dataType: "json",
                        success: function (response)
                        {
                            if (!response.IsSuccess)
                            {
                                layer.alert(response.StatusDescription, { icon: 2 });
                                return false;
                            }
                            _this.toggleViewFileData();
                            _this.queryData();
                        },
                        error: function (xhr, textStatus, err)
                        {
                            console.log(err);
                            layer.alert('出现错误，请稍后重试！', { icon: 2 });
                        },
                        complete: function ()
                        {
                            layer.close(l);
                        }
                    });
                }, function ()
                {

                });

            },
            deleteFileData: function ()
            {
                var _this = this;
                var l = layer.msg('处理中...', { icon: 16, time: 0 });
                $.ajax({
                    url: "/File/DeleteFileData",
                    data: { id: _this.scope.currentFileId },
                    type: "post",
                    dataType: "json",
                    success: function (response)
                    {
                        if (!response.IsSuccess)
                        {
                            layer.alert(response.StatusDescription, { icon: 2 });
                            return false;
                        }
                        _this.toggleViewFileData();
                        _this.queryData();
                    },
                    error: function (xhr, textStatus, err)
                    {
                        console.log(err);
                        layer.alert('出现错误，请稍后重试！', { icon: 2 });
                    },
                    complete: function ()
                    {
                        layer.close(l);
                    }
                });
            }
        };
    </script>
}
