<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <!--测试库-->
    <add name="ExternalTradeDB" connectionString="Server=10.138.60.16;Database=ExtCredit;uid=sa;pwd=fyw1234567b;" providerName="System.Data.SqlClient" />

    <!--<add name="ExternalTradeDB" connectionString="Server=10.1.6.131;Database=ExtCredit;uid=nsowner;pwd=NetSpider123!@#;" providerName="System.Data.SqlClient"/>-->
</connectionStrings>